::-webkit-input-placeholder {
    color: #777;
    font-weight: 300
}

:-moz-placeholder {
    color: #777;
    opacity: 1;
    font-weight: 300
}

::-moz-placeholder {
    color: #777;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #777;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #777;
    font-weight: 300
}

body {
    color: #777;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5em;
    position: relative
}

select {
    display: block
}

a {
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
    color: #777
}

.btn:active:focus, .btn:focus {
    text-decoration: none;
    outline: 0
}

.btn i {
    font-size: 1em;
    line-height: inherit
}

h1, h2, h3, h4, h5, h6 {
    font-family: Poppins, sans-serif;
    color: #222;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 500
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0;
    margin-top: 0;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #222
}

.h1, h1 {
    font-size: 36px
}

.h2, h2 {
    font-size: 30px
}

.h3, h3 {
    font-size: 24px
}

.h4, h4 {
    font-size: 18px
}

.h5, h5 {
    font-size: 16px
}

.h6, h6 {
    font-size: 14px;
    color: #222
}

.mr-0 {
    margin-right: 0 !important
}

.mr-5 {
    margin-right: 5px !important
}

.mr-15 {
    margin-right: 15px
}

.mr-10 {
    margin-right: 10px
}

.mr-20 {
    margin-right: 20px
}

.mr-30 {
    margin-right: 30px
}

.mr-50 {
    margin-right: 50px
}

.mb-0 {
    margin-bottom: 0
}

.mb-0-i {
    margin-bottom: 0 !important
}

.mb-5 {
    margin-bottom: 5px
}

.mb-10 {
    margin-bottom: 10px
}

.mb-15 {
    margin-bottom: 15px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-25 {
    margin-bottom: 25px
}

.mb-30 {
    margin-bottom: 30px
}

.mb-40 {
    margin-bottom: 40px
}

.mb-50 {
    margin-bottom: 50px
}

.mb-60 {
    margin-bottom: 60px
}

.mb-70 {
    margin-bottom: 70px
}

.mb-80 {
    margin-bottom: 80px
}

.mb-90 {
    margin-bottom: 90px
}

.mb-100 {
    margin-bottom: 100px
}

.pt-0 {
    padding-top: 0
}

.pt-10 {
    padding-top: 10px
}

.pt-15 {
    padding-top: 15px
}

.pt-20 {
    padding-top: 20px
}

.pt-25 {
    padding-top: 25px
}

.pt-30 {
    padding-top: 30px
}

.pt-40 {
    padding-top: 40px
}

.pt-50 {
    padding-top: 50px
}

.pt-60 {
    padding-top: 60px
}

.pt-70 {
    padding-top: 70px
}

.pt-80 {
    padding-top: 80px
}

.pt-90 {
    padding-top: 90px
}

.pt-100 {
    padding-top: 100px
}

.pt-150 {
    padding-top: 150px
}

.pb-0 {
    padding-bottom: 0
}

.pb-10 {
    padding-bottom: 10px
}

.pb-15 {
    padding-bottom: 15px
}

.pb-20 {
    padding-bottom: 20px
}

.pb-25 {
    padding-bottom: 25px
}

.pb-30 {
    padding-bottom: 30px
}

.pb-40 {
    padding-bottom: 40px
}

.pb-50 {
    padding-bottom: 50px
}

.pb-60 {
    padding-bottom: 60px
}

.pb-70 {
    padding-bottom: 70px
}

.pb-80 {
    padding-bottom: 80px
}

.pb-90 {
    padding-bottom: 90px
}

.pb-100 {
    padding-bottom: 100px
}

.pb-150 {
    padding-bottom: 150px
}

.p-40 {
    padding: 40px
}

.text-white {
    color: #fff
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex
}

.inline-flex {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex
}

.flex-wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.flex-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start
}

.flex-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    justify-content: flex-end
}

.flex-top {
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start
}

.flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center
}

.flex-bottom {
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end
}

.relative {
    position: relative
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.section-bg {
    background: #f9fafc
}

b, i, u {
    color: #f67590
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 16px
}

h6 {
    font-size: 14px
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.5em
}

.button-area {
    background: #fff
}

.header-wrap {
    position: relative
}

header {
    padding: 15px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2
}

@media (max-width: 767px) {
    header {
        padding: 15px 0
    }
}

.menu-bar {
    cursor: pointer
}

.menu-bar span {
    color: #fff;
    font-size: 24px
}

.main-menubar {
    position: relative
}

nav {
    margin-right: 70px;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    transform-origin: 100% 50%
}

@media (max-width: 767px) {
    nav {
        margin-right: 0;
        position: absolute;
        right: 0;
        top: 47px;
        text-align: right;
        padding: 20px 0;
        z-index: 5;
        background-image: -webkit-linear-gradient(bottom, #8738ce 0, #4b5ae5 100%);
        background-image: -o-linear-gradient(bottom, #8738ce 0, #4b5ae5 100%);
        background-image: linear-gradient(to top, #8738ce 0, #4b5ae5 100%)
    }
}

nav.hide {
    transform: scale(0)
}

nav a {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    margin: 0 25px;
    display: inline-block
}

@media (max-width: 767px) {
    nav a {
        margin: 5px 25px
    }
}

nav a:hover {
    color: #fff
}

body {
    background-image: -moz-linear-gradient(90deg, #8738ce 0, #4b5ae5 100%);
    background-image: -webkit-linear-gradient(90deg, #8738ce 0, #4b5ae5 100%);
    background-image: -ms-linear-gradient(90deg, #8738ce 0, #4b5ae5 100%)
}

.main-wrapper-first {
    width: 68.75%;
    margin: 0 auto;
    margin-top: 6rem
}

@media (min-width: 1200px) {
    .main-wrapper-first {
        width: 75%
    }
}

@media (max-width: 1199px) {
    .main-wrapper-first {
        width: 90%
    }
}

@media (max-width: 767px) {
    .main-wrapper-first {
        margin-top: 3rem;
        width: 97%
    }
}

.main-wrapper {
    width: 68.75%;
    margin: 0 auto
}

@media (min-width: 1200px) {
    .main-wrapper {
        width: 75%
    }
}

@media (max-width: 1199px) {
    .main-wrapper {
        width: 90%
    }
}

@media (max-width: 767px) {
    .main-wrapper {
        width: 97%
    }
}

.footer-social a:after, .primary-btn:after {
    background-image: -moz-linear-gradient(0deg, #8738ce 0, #4b5ae5 100%);
    background-image: -webkit-linear-gradient(0deg, #8738ce 0, #4b5ae5 100%);
    background-image: -ms-linear-gradient(0deg, #8738ce 0, #4b5ae5 100%)
}

.section-title {
    padding-bottom: 30px
}

.section-title h2 {
    margin-bottom: 10px
}

.icon.lnr {
    color: #000
}

.primary-btn {
    line-height: 40px;
    padding: 0 30px;
    border-radius: 20px;
    background: 0 0;
    border: 1px solid #fff;
    color: #222;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    cursor: pointer
}

.primary-btn:focus {
    outline: 0
}

.primary-btn span {
    color: #fff;
    position: relative;
    z-index: 2
}

.primary-btn:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    opacity: 0;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    z-index: 1
}

.primary-btn:hover {
    color: #fff;
    border: 1px solid transparent
}

.primary-btn:hover:after {
    opacity: 1
}

.primary-btn.hover {
    color: #fff;
    border: 1px solid transparent
}

.primary-btn.hover:after {
    opacity: 1
}

.main-wrapper {
    background: #fff
}

.banner-area .height {
    height: 540px
}

.banner-area .generic-height {
    height: 400px
}

.banner-area .banner-content {
    margin-top: 50px
}

.banner-area .banner-content h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.25em
}

.banner-area .banner-content img {
    margin-bottom: 20px
}

.background-text {
    background-color: rgba(0, 0, 0, .7)
}

.hero-area {
    background: url(../img/97.jpg) no-repeat right/contain;
    background-size: cover
}

.hero-overlay-bg {
    background: -moz-linear-gradient(top center, #f76268, #fce08a) repeat scroll 0 0 transparent;
    opacity: .9
}

.about-top-area {
    background: #f9f9ff;
    padding-left: 0
}

.about-top-area .about-left {
    padding: 0
}

.about-top-area .about-left img {
    width: 100%
}

.about-top-area .overlay-bg {
    background: -moz-linear-gradient(left center, transparent, #f9f9ff) repeat scroll 0 0 transparent
}

.single-desc {
    max-width: 487px;
    margin-left: 6%
}

.single-desc .lnr {
    font-size: 30px
}

.single-desc h2 {
    font-size: 14px;
    font-weight: 600;
    line-height: 3em;
    letter-spacing: 2px;
    text-transform: uppercase
}

.single-desc p {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px
}

.about-bottom-area {
    background-color: #f9f9ff
}

.about-bottom-area .about-right {
    padding: 0
}

.about-bottom-area .about-right img {
    width: 100%
}

.about-bottom-area .single-desc {
    margin-left: 40px
}

.about-bottom-area .single-desc .icon.lnr {
    color: #000
}

.about-bottom-area .single-desc .primary-btn {
    text-transform: uppercase;
    -webkit-box-shadow: -2px 45px 59px -34px #f65464;
    -moz-box-shadow: -2px 45px 59px -34px #f65464;
    box-shadow: -2px 45px 59px -34px #f65464
}

@media (max-width: 768px) {
    .about-bottom-area .single-desc {
        margin-left: 0
    }
}

.about-bottom-area .overlay-bg {
    background: -moz-linear-gradient(right center, transparent, #f9f9ff) repeat scroll 0 0 transparent
}

.footer-area {
    background: #f9f9ff
}

.footer-bottom {
    background: #fff;
    padding: 20px
}

.footer-bottom a {
    color: #f67590
}

.footer-social {
    margin-top: 10px
}

.footer-social a {
    background-color: #f9f9ff;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 30px;
    color: #fff;
    position: relative
}

.footer-social a:hover i {
    color: #fff
}

.footer-social a i {
    position: relative;
    z-index: 2;
    color: #777
}

.footer-social a:after {
    position: absolute;
    z-index: 1;
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    z-index: 1
}

.footer-social a:hover {
    border: 1px solid transparent
}

.footer-social a:hover:after {
    opacity: 1
}

.about-generic-area {
    background: #fff
}

.about-generic-area p {
    margin-bottom: 20px
}

.white-bg {
    background: #fff
}